* /*(применяется для всего файла)*/ {
    box-sizing: border-box;  /*Не даёт увеличить размер блока больше определенного*/
}

.flex-container {
    display: flex;
    justify-content: center;
    /* align-items: center;
    flex-wrap: wrap;
    align-content: center; */
}

.item {
    flex-basis: 100px;
    /* width: 100px; */
    height: 100px;
    background-color: burlywood;
    padding: 10px;
    border: 6px solid darkred;
    margin: 10px;
}

/* .item:nth-child(2) {
    flex-grow: 1;
    flex-shrink: 0;
    order: 1;
    flex-basis: 50px;
    height: 50px;
    align-self: flex-end;
} */

/* .item:nth-child(3) {
    order: 2;
    flex-basis: 80px;
    height: 80px;
} */

/* .item:nth-child(3) {
    flex-grow: 2;
} */

/* 
.item:nth-child(2) {
    width: 50px;
    height: 50px;
}

.item:last-child {
    width: 80px;
    height: 80px;
} */
/* 
.box:nth-child(n + 4) {
    background-color: gold;
} */