:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-secondary-dark: #A18268;
    --color-brand-dark: #465929;
    --color-brand-normal: #819b57;
    --color-brand-light: #cfcfbc;
}

$bp-mobile: 480px;
$bp_tablet: 768px;
$bp_desktop: 1280px;